<div class="bg-blue-800  text-white">
  <header class="bg-white shadow-sm sticky top-0 z-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <a href="/" class="flex items-center space-x-2">
          <i class="lucide lucide-bell text-blue-600 h-6 w-6"></i>
          <span class="text-xl font-bold text-gray-900">Citizans Link</span>
        </a>
        <nav class="hidden md:flex space-x-6">
          <a href="/" class="text-gray-600 hover:text-blue-600">Home</a>
          <a href="/complaints" class="text-gray-600 hover:text-blue-600">My Complaints</a>
          <a href="/reportcase" class="text-white bg-blue-600 p-1 rounded-md hover:text-white">Submit Complaint</a>
        </nav>
      </div>
    </div>
  </header>
</div>  
